* {

    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-decoration-color:black;
    color: #2c2c2c;
        
   }
table {
    width: 95%;
  }
  header{
    width: 800px;
    align-content: center;
  }
section{
    
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: white;
    width: 800px;
  }

  body {background-color: rgb(243, 243, 243);}

  #header-left{
    width: 500px;
    float: left;
    padding-left: 50px;
    
  }
  #header-right{
    padding-bottom: -20px;
  }



