* {

    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-decoration-color:black;
    color: #2c2c2c;
        
   }
table {
    width: 95%;
  }
  header{
    width: 800px;
    align-content: center;
  }
section{
    
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: white;
    width: 800px;
    box-shadow: 0 400px 48px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .5s;
    margin-bottom: 20px;
    border-radius: .5rem;
    
      
    
  }
  
  section:hover{
     transform: scale(1.05);
      background-color: rgba(0, 255, 255, .3);
      border-radius: .5rem;
      
  }

  body {
    background-color: rgb(243, 243, 243);
    perspective: 1000px;
  }


  
  

  #header-left{
    width: 500px;
    float: left;
    padding-left: 50px;
    
  }
  #header-right{
    padding-bottom: -20px;
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 180px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    height: 30px;
  }
 .galleryDiv{
   background-color: white;
 }

.topnav {
  overflow: hidden;
  background-color: background-color: rgba(0, 0, 0, 0);;
}

.topnav a {
  float: left;
  color: #black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgba(0, 0, 0, .9);
  border-radius: .5rem;
  color: white;
  